/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Container & Main Styles */
.container {
  padding: 1rem;
  font-family: Arial, sans-serif;
  margin-top: 64px;
  background-color: #ffffff;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2.8rem;
  padding-bottom: 2rem;
  max-width: 1300px;
  color: #004d1a;
  margin: 0 auto;
}

.subtitle {
  font-size: 1.5rem;
  color: #004d1a;
  max-width: 800px;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* Typography */
.section {
  margin-bottom: 30px;
}

.sectionHeading {
  font-size: 2rem;
  color: #004d1a;
  border-bottom: 2px solid #004d1a;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.subHeading {
  font-size: 1.5rem;
  color: #006622;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
}

/* Lists */
.list {
  list-style-type: disc;
  margin: 15px 0 30px;
  padding-left: 20px;
  color: #333;
}

.list li {
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.list li::marker {
  color: #004d1a;
}

/* Links */
a {
  color: #006622;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #004d1a;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #004d1a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003d14;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* Space between buttons */
  padding: 0px 0px 10px 0px /* Bottom margins */
  /* margin: 1rem 0; /* Top & bottom margins */
}

.navButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #004d1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.navButton:hover {
  background: #006622; /* Darker green */
  transform: scale(1.05); /* Slight grow on hover */
}

.navButton:active {
  transform: scale(0.95); /* Slight shrink on click */
}

.navButton:focus {
  outline: 2px solid #00b377;
}

/* Media Queries */
@media (max-width: 1024px) {
  .main {
    max-width: 90%;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 95%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .main {
    max-width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  .title {
    font-size: 1.5rem;
  }
}
